nav{
    background-color: black;
    color: white;
}
li,h1,ul{
    display:inline;
}
ul{
    margin-left: 60%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style:double;
    display:inline-block;
    width: 230px;
}
.box:hover{
    background-color: black;
    color: gray
}
.product{
    text-align: center;
}
.about{
    text-align:center;
    padding-top: 20px;
    margin-top: 20px;
}
.contact
{
    background-color: black;
    color: gray;
    text-align: center;
    cursor: pointer;
}

body {
    background-image: url("img_tree.png");
    background-repeat: repeat-y;
  }